@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SabFont';
  src: url('/fonts/BetterSabrina.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
